Repository gabrielscaranello/survey-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yarn test:changed, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "yarn test:changed"],
  "*.{ts,md,json}": ["prettier --write"]
}

test: ensure cors is enable
  src/main/middlewares/cors/cors.test.ts
Due: eslint --fix, yarn test:changed, prettier --write

chore: disable require-unicode-regexp eslint rule
  eslint.config.mts
Due: none

feat: ensure requsts returns content type json as default
  src/main/config/middlewares.ts
  src/main/middlewares/content-type/content-type.ts
  src/main/middlewares/content-type/index.ts
  src/main/middlewares/index.ts
Due: eslint --fix, yarn test:changed, prettier --write

test: ensure requsts returns content type json as default
  src/main/middlewares/content-type/content-type.test.ts
Due: eslint --fix, yarn test:changed, prettier --write

chore: update start dev script
  package.json
Due: prettier --write

feat: ensure SignUp route returns an account on success
  src/main/config/app.ts
  src/main/config/env.ts
  src/main/config/index.ts
  src/main/config/module-alias.ts
  src/main/config/routes.ts
  src/main/routes/index.ts
  src/main/routes/signup.routes.ts
  src/main/server.ts
Due: eslint --fix, yarn test:changed, prettier --write

test: ensure SignUp route returns an account on success
  src/main/middlewares/body-parser/body-parser.test.ts
  src/main/middlewares/content-type/content-type.test.ts
  src/main/middlewares/cors/cors.test.ts
  src/main/routes/signup-routes.test.ts
Due: eslint --fix, yarn test:changed, prettier --write

refactor: connect to mongodb before signup routes tests
  src/main/routes/signup-routes.test.ts
  src/main/routes/signup.routes.ts
Due: eslint --fix, yarn test:changed, prettier --write

refactor: make env config more reliable
  .env.example
  src/main/config/env.ts
  src/main/config/module-alias.ts
  src/main/server.ts
Due: eslint --fix, yarn test:changed, prettier --write

feat: connect to mongodb before app listen
  src/main/server.ts
Due: eslint --fix, yarn test:changed, prettier --write

feat: add factory for SignUpController
  src/infra/criptography/index.ts
  src/infra/db/mongodb/account-repository/index.ts
  src/main/factories/index.ts
  src/main/factories/signup.factory.ts
Due: eslint --fix, yarn test:changed, prettier --write

feat: add express route adapter
  setup-test/http/signup.http
  src/main/adapters/express-router.adapter.ts
  src/main/adapters/index.ts
  src/main/routes/signup.routes.ts
Due: eslint --fix, yarn test:changed, prettier --write

chore: update coverage setup
  vitest.config.mts
Due: none

chore: ignore @typescript-eslint/no-magic-numbers rule on test files
  eslint.config.mts
Due: none

refactor: make MongoHelper safer
  src/infra/db/mongodb/helpers/mongo-helper/mongo-helper.spec.ts
  src/infra/db/mongodb/helpers/mongo-helper/mongo-helper.ts
Due: eslint --fix, yarn test:changed, prettier --write

feat: ensure LogControllerDecorator calls controller.handle
  src/main/decorators/index.ts
  src/main/decorators/log-controller/index.ts
  src/main/decorators/log-controller/log-controller.decorator.ts
Due: eslint --fix, yarn test:changed, prettier --write

test: ensure LogControllerDecorator calls controller.handle
  src/main/decorators/log-controller/log-controller-decorator.spec.ts
Due: eslint --fix, yarn test:changed, prettier --write

feat: ensure LogControllerDecorator returns controller result
  src/main/decorators/log-controller/log-controller.decorator.ts
Due: eslint --fix, yarn test:changed, prettier --write

test: ensure LogControllerDecorator returns controller result
  src/main/decorators/log-controller/log-controller-decorator.spec.ts
Due: eslint --fix, yarn test:changed, prettier --write

feat: ensure SignUp factory uses LogControllerDecorator
  src/main/factories/signup.factory.ts
Due: eslint --fix, yarn test:changed, prettier --write

refactor: make server error to handle stack
  src/presentation/controllers/signup/signup.spec.ts
  src/presentation/controllers/signup/signup.ts
  src/presentation/errors/server.error.ts
  src/presentation/helpers/http-helper.ts
Due: eslint --fix, yarn test:changed, prettier --write

feat: define names of custom errors
  src/presentation/errors/invalid-param.error.ts
  src/presentation/errors/missing-param.error.ts
  src/presentation/errors/server.error.ts
Due: eslint --fix, yarn test:changed, prettier --write

feat: ensure LogControllerDecorator calls repository when Controller.handle returns server error
  src/data/protocols/index.ts
  src/data/protocols/log-error-repository.ts
  src/main/decorators/log-controller/log-controller.decorator.ts
Due: eslint --fix, yarn test:changed, prettier --write

test: ensure LogControllerDecorator calls repository when Controller.handle returns server error
  src/main/decorators/log-controller/log-controller-decorator.spec.ts
Due: eslint --fix, yarn test:changed, prettier --write

test: ensure LogControllerDecorator not call LogErrorRepository if server error has not body
  src/main/decorators/log-controller/log-controller-decorator.spec.ts
Due: eslint --fix, yarn test:changed, prettier --write

test: ensure LogControllerDecorator not call LogErrorRepository if controller not returns an error
  src/main/decorators/log-controller/log-controller-decorator.spec.ts
Due: eslint --fix, yarn test:changed, prettier --write

test: ensure LogControllerDecorator not call LogErrorRepository if error has empty stack
  src/main/decorators/log-controller/log-controller-decorator.spec.ts
Due: eslint --fix, yarn test:changed, prettier --write

chore: run typecheck before test on push
  .husky/pre-push
Due: none

feat: ensure LogMongoRepository create an error on success
  src/infra/db/mongodb/log-repository/index.ts
  src/infra/db/mongodb/log-repository/log-mongo.repository.ts
Due: eslint --fix, yarn test:changed, prettier --write

test: ensure LogMongoRepository create an error on success
  src/infra/db/mongodb/log-repository/log-mongo.repository.spec.ts
Due: eslint --fix, yarn test:changed, prettier --write

feat: ensure LogDecorator has injected LogMongoRepository
  src/main/factories/signup.factory.ts
Due: eslint --fix, yarn test:changed, prettier --write

fix: http requets returns error name when has error
  src/main/adapters/express-router.adapter.ts
Due: eslint --fix, yarn test:changed, prettier --write

refactor: move http files to project root
  http/signup.http
Due: none

refactor: remove duplicated code
  src/data/usecases/add-account/db-add-account.spec.ts
  src/infra/db/mongodb/account-repository/account.spec.ts
  src/main/decorators/log-controller/log-controller-decorator.spec.ts
  src/main/routes/signup-routes.test.ts
  src/presentation/controllers/signup/signup.spec.ts
Due: eslint --fix, yarn test:changed, prettier --write

chore: add docker
  .dockerignore
  .env.example
  Dockerfile
  docker-compose.yml
  package.json
  src/main/config/env.ts
Due: eslint --fix, yarn test:changed, prettier --write

chore: set fixed version of mongo memory db
  setup-test/mongo-memory-server.ts
Due: eslint --fix, yarn test:changed, prettier --write

chore: add Makefile for run commands
  Makefile
Due: none

chore: update mongo version to 8.2.5
  docker-compose.yml
  setup-test/mongo-memory-server.ts
Due: eslint --fix, yarn test:changed, prettier --write

docs: add docker run script to docs
  README.md
Due: prettier --write

chore: release 1.1.0
  package.json
Due: prettier --write
